body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 16px;
  background-color: black;
  color: rgb(0, 175, 0);
}

#terminal {
  width: 90%; /* Adjusted width for responsiveness */
  max-width: 800px; /* Maximum width for larger screens */
  height: 500px;
  margin: 82px auto;
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
  overflow: clip;
  outline: 1px solid black;
  box-shadow: 0 0 10px white; /* shadow */
}

.header {
  height: 21px;
  background-color: white; /* Light gray background */
  outline: 1px solid black;
}

.btns {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 0px;
  height: 21px;
  width: 63px;
  margin-left: 3px;
}

.close-btn {
  background-color: #ff5f56;
  display: inline-flex;
  width: 13px;
  height: 13px;
  margin-top: 4.5px;
  margin-left: 1px;
  margin-right: 1px;  
  border-radius: 50%;
}

.minimize-btn {
  background-color: #ffbd2e;
  display: inline-flex;
  width: 13px;
  height: 13px;
  margin-top: 4.5px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 50%;
}

.expand-btn {
  background-color: #27c93f;
  display: inline-flex;
  width: 13px;
  height: 13px;
  margin-top: 4.5px;
  margin-left: 1px;
  margin-right: 1px;  
  border-radius: 50%;
}

.content {
  padding: 7px;
  height: calc(100% - 30px);
  overflow-y: auto;
}

.terminal-output {
  margin-bottom: 10px;
}

.input-line {
  display: flex;
  align-items: center;
}

.prompt {
  margin-right: 5px;
}

input[type="text"] {
  background-color: transparent;
  border: none;
  color: rgb(0, 175, 0);
  font-family: monospace;
  font-size: inherit;
  width: calc(100% - 40px);
  outline: none;
  margin-right: 5px;
}

input[type="text"]:focus {
  outline: none;
}

.terminal-output {
  margin-bottom: 10px;
  font-family: monospace;
  line-height: 14px; 
}

.terminal-output p {
  margin: 0; 
}

a {
  text-decoration:none;
  color:white;
}

.about-section {
  display: flex;
  align-items: top;
}

img {
  max-width: 30%;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.about-text {
  margin-left: 30px;
  flex: 1;
}

/* Media Queries */
@media screen and (max-width: 480px) {
  /* Adjust terminal width for smaller screens */
  #terminal {
    width: 95%;
  }
}
